@SYSTEM_TITLE
    $TITLE_MENU ;标题循环
    ;CLEARLINE LINECOUNT
    HTML_PRINT "<p align='center'><nobr><img src='TITLE'height='2500'ypos='-2400'></p>"
    CUSTOMDRAWLINE -
    ALIGNMENT CENTER
    PRINTL eraFantasy 2023~
    PRINTL QQ:924591480
    CUSTOMDRAWLINE -
    PRINTL 策划:紫三思 UI:娜娜莉 技术策划:艾莉茜尔·沙利西斯 Choke cola
    PRINTL 程序:紫三思 O5-7
    PRINTL 口上:娜娜莉 127 老湿姬 Atumbra 紫三思 Elveenya
    CUSTOMDRAWLINE -
    PRINTL
    PRINTBUTTON "[新游戏]",0
    PRINTL
    PRINTL
    PRINTBUTTON "[载入存档]",1
    PRINTL
    PRINTL
    PRINTBUTTON "[退出]", 2
    INPUT
    IF RESULT == 0
        RESETDATA
        ADDDEFCHARA
        BEGIN FIRST
    ELSEIF RESULT == 1
        LOADGLOBAL
        ALIGNMENT LEFT
        LOADGAME
        GOTO TITLE_MENU ;标题页面循环
    ELSEIF RESULT == 2
        QUIT
    ENDIF