@SYSTEM_TITLE
    $TITLE_MENU ;标题循环
    ;CLEARLINE LINECOUNT
    ;HTML_PRINT "<p align='center'><nobr><img src='TITLE'height='2500'ypos='-2400'></p>"
    CUSTOMDRAWLINE -
    ALIGNMENT CENTER
    PRINTL eraFantasy 2023~
    PRINTL QQ:924591480
    PRINTL
    ADDDEFCHARA
    PRINTBUTTON "[新游戏]",0
    PRINTL
    PRINTL
    PRINTBUTTON "[载入存档]",1
    PRINTL
    PRINTL
    PRINTBUTTON "[退出]", 2
    CALL TEST
    ALIGNMENT LEFT
    PRINTL
    INPUT
    IF RESULT == 0
        BEGIN FIRST
    ELSEIF RESULT == 1
        LOADGLOBAL
        LOADGAME
        GOTO TITLE_MENU ;标题页面循环
    ELSEIF RESULT == 2
        QUIT
    ENDIF

@TEST
    UI_MODE = GAL